{% extends "account/login.html" %}
{% load i18n %}
{% load allauth_ui %}
{% block content %}
    {% trans "Sign In" as heading %}
    {% #container heading=heading  %}
    {% if not SOCIALACCOUNT_ONLY %}
        
        {% url 'account_login' as action_url %}
        {% #form form=form url=action_url button_text=heading %}

        <div class="password-toggle-container">
            <input type="checkbox" id="password-toggle">
            <label id="password-toggle-label" for="password-toggle">Mostrar contraseña</label>
        </div>
        
        {{ redirect_field }}
        {% csrf_token %}
        <div class="flex flex-col">
            <a class="link self-end text-sm"
               href="{% url 'account_reset_password' %}">{% trans "Olvidó el password ?" %}</a>
        </div>
        {% /form %}
    {% endif %}
    {% if LOGIN_BY_CODE_ENABLED %}
        <div class="divider divider-neutral"></div>
        <a href="{{ request_login_code_url }}" class="btn btn-neutral">{% trans "Mail me a sign-in code" %}</a>
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
    <a href="{% url 'vistaHome' %}">Ir a inicio</a>
    {% /container %}
     
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toggleCheckbox = document.getElementById('password-toggle');
    // django-allauth default password input has the name 'password'
    const passwordInput = document.querySelector('input[name="password"]');

    if (toggleCheckbox && passwordInput) {
      toggleCheckbox.addEventListener('change', function () {
        // Switch the input type between 'password' and 'text'
        if (this.checked) {
          passwordInput.type = 'text';
        } else {
          passwordInput.type = 'password';
        }
      });
    }
  });
</script>

{% endblock content %}