{% load static %} <!-- Sin esta etiqueta no se cargará el favicon que está en el directorio de los estáticos. -->
<!DOCTYPE html>
<html>
<title>LibreríaLocalMain</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Link para el favicon: -->
<link rel="icon" type="image/svg" href="{% static '/images/djangoIco.svg' %}">
<!-- Link para w3.css y w3.js: -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<!-- Link para htmx: -->
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

<body class="w3-container">
  <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:23%">
      {% block barraLateral %}
      <h3 class="w3-bar-item">Menu</h3>
      <a href="{% url 'inicio' %}" class="w3-bar-item w3-button">Home</a>
      {# Impotante!!!: no entrecomillar los valores de los parámetros de consulta, porque no servirán. Ej: ?titulo='Canaima' no servirá, enviará basura en dicho parámetro. #}
      <a href="{% url 'libro-list' %}?plantilla=catalogo/todosLosLibros.html" class="w3-bar-item w3-button">Todos los libros</a>

       <a href="{% url 'libro-list' %}?titulo=Canaima&plantilla=catalogo/librosConBarbara.html" class="w3-bar-item w3-button">Libros con titulo "Canaima"</a>

       {# Metimos un formulario para probar enviar solicitudes post puesto que los hipervínculos no pueden enviar solicitudes post: note que usando las clases w3-bar-item w3-button pasa como un elemento que tiene el mismo aspecto que los otros, siendo un formulario en vez de un hipervínculo: #}

    <form action="{% url 'isbn' %}" method="GET">
    {# En los métodos get no se pueden enviar parámetros de consulta por el atributo action. Deben estar en inputs, y para nuestro caso invisibilizados para que no aparezcan en textbox de inputs: #}
       <input type="hidden" name="isbn" value="4077862365395">
       <input type="hidden" name="plantilla" value="catalogo/librosConBarbara.html">
         <button class="w3-bar-item w3-button" type="submit">Libro con isbn 4077862365395"</button>
     </form>

     <form action="{% url 'isbnConsulta' %}" method="GET">
       <input type="hidden" name="plantilla" value="catalogo/librosConBarbara.html">
       <button class="w3-bar-item w3-button" type="submit">Buscar libro por isbn</button>
       <input type="text" name="isbn" placeholder="Ingrese isbn">
     </form>

      <a href="{% url 'libro-detail' pk=1 %}" class="w3-bar-item w3-button">Recuperando libro por id en formulario basado en RetrieveUpdateDestroyAPIView html-js clásico</a>

      <a href="{% url 'autor-list' %}" class="w3-bar-item w3-button">Listar todos los autores</a>

        {# Resto de urls #}

<a href="{% url 'descargar_pdf' %}" class="w3-bar-item w3-button">Descargar todos los títulos en pdf</a>

      <!-- Hacemos un solucionador de url a nivel de la aplicación para ir a admin, que se encuentra en la base o entrada del proyecto, con fines didácticos. Sería un disparate hacerlo en producción. Para ello usamos la etiqueta reservada, admin:index: -->
      <a href="{% url 'admin:index' %}" class="w3-bar-item w3-button">Ir a admin</a>
        
      <a href="http://127.0.0.1:8000/entraraladrf/login/" class="w3-bar-item w3-button">Ir a la api navegable</a>
        
          {% if user.is_authenticated %}
            <span class="w3-bar-item">Usuario: {{ user.get_username }} {% if user.is_superuser %} y es super usuario {% elif user.groups.all.0.name == "bibliotecarios" %}, es bibliotecario {% if user.is_staff %} y pertenece al staff{% endif %}{% else %} y es miembro corriente{% endif %}</span>
      
      {# Por seguridad (prevención CSRF), Django requiere que el cierre de sesión se realice mediante una petición POST, no un enlace GET directo. De lo contrario se producirá el error 405 Method Not Allowed, así que tenemos que incrustar como item un form con método post: #}
      <li class="w3-bar-item">
       <form action="{% url 'logout' %}?next={{ request.path }}" method="post">
         {% csrf_token %}
         <button class="w3-button" type="submit">Cerrar sesión</button>
       </form>
      </li>  
              <a href="{% url 'autor-list' %}?plantilla=autor_add.html" class="w3-bar-item w3-button">Agregar autor</a>

              <a href="{% url 'libro-list' %}?plantilla=libro_add.html"class="w3-bar-item w3-button">Agregar libro</a>

              <a href="{% url 'autor-detail' 3 %}?plantilla=autor_destroy.html"class="w3-bar-item w3-button">Eliminar autor</a>

          {% else %}
    
              <a href="{% url 'login' %}?next = {{ request.path }}" class="w3-bar-item w3-button">Iniciar sesión</a>
       {% endif %}   
        
       <!-- Practicando w3.css, pegamos dos etiquetas contiguas con flexboxs: -->
       <div class="w3-container">
         <div class="w3-flex" style="gap:8px">
           <div class="w3-padding w3-green"><h3>1</h3></div>

           <div class="w3-card-4">
            <header class="w3-container w3-blue">
              <h5>Encabezado</h5>
            </header>
           
            <div class="w3-container">
              <p>Esta es una etiqueta con sombra 4.</p>
            </div>

            <footer class="w3-container w3-blue">
              <h5>Pie</h5>
            </footer>
         </div>  
       </div>
       </div>
      <!-- Fin del bloque barra lateral: -->  
      {% endblock %}
  </div>

<!-- Bloque de contenido principal: -->

  <div style="margin-left:25%">
      <div class="w3-container w3-teal w3-center">
      <h1>Biblioteca Pío Tamayo</h1>
      </div>

      <!-- Bloque para sobreescribir en la plantilla heredera o hija -->
      {% block content %}{% endblock %}

   
{# Paginación para vistas que lo requieran (recuerde enviar is_paginated=True en context): #}

{% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; Primera</a>
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">anterior</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">siguiente</a>
                  <a href="?page={{ paginator.num_pages }}">Última &raquo;</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}

  </div>
    
</body>
</html>
