{% extends "base1.html" %}
{% block content %}

<form method="post"> {# Si no es post, no recoge los valores #}
{% csrf_token %}
    {{ form.as_p }}
    <button id="id_botonSusLibros" type="submit" hidden></button>
    <button id="id_botonIrAlLibro" type="submit" name="botonIrAlLibroSelecDeEseAutor" value="IrAlLibroSelecDeEseAutor" hidden>ir al libro</button>
</form>

<script>
document.addEventListener('DOMContentLoaded', function() {
    //Note como se referencia los elementos de formularios forms.Form desde su plantilla:
    const selectAutor = document.getElementById('{{ form.autores.id_for_label }}');

    const selectLibro = document.getElementById('{{ form.librosDelAutor.id_for_label }}');
    const botonConsultarLibro = document.getElementById('id_botonIrAlLibro');
    const botonSusLibros = document.getElementById('id_botonSusLibros');
    
    // Lógica al seleccionar un autor:
    selectAutor.addEventListener('change', function() {
         selectLibro.value = ''; //limpiamos previamente lo que pueda estar ahí.
         botonSusLibros.click();
    });  

    // Lógica al seleccionar un libro del autor:
    selectLibro.addEventListener('change', function() {
        if (selectLibro.value) {
            botonConsultarLibro.hidden = false;
        } else {
            botonConsultarLibro.hidden = true;}
    }); //Cierre del SelectElement.addEventListener

}); //Cierre del document.addEventListener
</script>

{% endblock %}