{% extends "base1.html" %}
{% block content %}

<form method="post"> {# Si no es post, no recoge los valores #}
{% csrf_token %}
    {{ form.as_p }}
    <button id="id_botonSusLibros" type="submit" value="seleccionarAutor" hidden></button>
    <button id="id_selecLibro" type="submit" name="accion" value="seleccionarLibroDelAutor" hidden>ir al libro</button>
</form>

<script>
document.addEventListener('DOMContentLoaded', function() {
    //Note como se referencia los elementos de formularios forms.Form desde su plantilla:
    const selectAutor = document.getElementById('{{ form.autores.id_for_label }}');

    const selectElement = document.getElementById('{{ form.librosDelAutor.id_for_label }}');
    const submitButton = document.getElementById('id_selecLibro');
    const botonSusLibros = document.getElementById('id_botonSusLibros');
    
    // Lógica al seleccionar un autor:
    selectAutor.addEventListener('change', function() {
         selectElement.value = ''; //limpiamos previamente lo que pueda estar ahí.
         botonSusLibros.click();
    });  

    // Lógica al seleccionar un libro del autor:
    selectElement.addEventListener('change', function() {
        if (selectElement.value) {
            submitButton.hidden = false;
        } else {
            submitButton.hidden = true;}
    }); //Cierre del SelectElement.addEventListener

}); //Cierre del document.addEventListener
</script>

{% endblock %}