{%extends "base1.html" %}
{% block content %} 
<div>
Navegar por autor y sus libros reutilizando la plantilla catalogo/baseAutorYsusLibros.html insertandola con w3.includeHTML en esta plantilla
</div>
<div>
lista de ids: {{ listaDeIds }}
</div>
<div>
<button id="botonAvanzar">Avanzar</button>
<button id="botonRetroceder">Retroceder</button>
</div>

<div id='seccion' w3-include-html=""></div>

<script>
const dondeSeInsert = document.getElementById('seccion');
let idAut={{ autor.id }};
let urlSecc = "{% url 'navAutorYsusLibW3JSauxiliar' %}?autorId=1".replace('1', idAut);
//Modifica el atributo 'data-info'
dondeSeInsert.setAttribute('w3-include-html', urlSecc);
//Ejecutar la función para recargar el contenido:
w3.includeHTML();

const listaIdsAutores = {{ listaDeIds }};
const ultIdEnListIdsAutores = listaIdsAutores.length-1;
const avanzar = document.getElementById('botonAvanzar');
const retroceder = document.getElementById('botonRetroceder');
const posicionRec={{ posicionEnv }}

avanzar.addEventListener('click', function() {
  let nuevaPosicion = posicionRec+1;
  if (nuevaPosicion <= ultIdEnListIdsAutores) {
  let url = "{% url 'navAutorYsusLibW3JS' %}?posicionEnviada=1".replace('1', nuevaPosicion);
  //Redirige al navegador a esa URL
  window.location.href = url;}
  else {
  alert('Mi pana, este es el último, no hay más autores.');}
});

retroceder.addEventListener('click', function() {
  //Note como guardar valores persistentemente en una sesión como se hacía en la versión anterior:
  //let posicion = sessionStorage.getItem('posicionActual');
  //sessionStorage.setItem('posicionActual', --posicion);
  //alert('posicion: ' + posicion + ' id: ' + listaIdsAutores[posicion]);
  let nuevaPosicion = posicionRec-1;
  if (nuevaPosicion >= 0) {
  let url = "{% url 'navAutorYsusLibW3JS' %}?posicionEnviada=1".replace('1', nuevaPosicion);
  //Redirige al navegador a esa URL
  window.location.href = url;} 
  else {
  alert('Mi pana, este es el primer autor.');}
});

</script>
{% endblock %}
