{% extends "base1.html" %}<!--Heredado o extendido de base1.html -->

{% block content %}

    <h1>Lista de usuarios de la biblioteca: {{ grupo }}</h1>

    <ul>
        {% for usuario in usuarios %}
            <li>
                {{ usuario.email }} - Creado por: {{ usuario.creador }} 
                <!-- Enlace al formulario de actualización utilizando el pk de cada usuario -->
                <a href="{% url 'editar_usuario' usuario.id %}">Editar</a>
                <a href="{% url 'eliminar_usuario' usuario.id %}">Eliminar</a>
            </li>
        {% empty %}
            <li>No hay usuarios en este grupo.</li>
        {% endfor %}
    </ul>

{% endblock %}