{% comment %}
{% extends "base1.html" %}

{% block content %}
{% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

<div>Navegar por autor y sus libros con JS y HTMX usando la vista generica detalles de autor:</div>
  <div>
      lita de ids: {{ listaDeIds }}
      <button id="botonAvanzar" hx-get="{% url 'autorDetalles' pk=2 %}" hx-target="#resultado" hx-swap="outerHTML">Avanzar</button>

      <button id="botonRetroceder" hx-get="{% url 'autorDetalles' pk=2 %}" hx-target="#resultado" hx-swap="outerHTML">Retroceder</button>
  </div>
  <div id="resultado"></div>
</div>

<script>
// Guardar un dato (igual que localStorage, pero solo para la sesión actual)
//sessionStorage.setItem('posicionActual', 0);
const listaIdsAutores = {{ listaDeIds }};
const ultIdEnListIdsAutores = listaIdsAutores.length-1;
const avanzar = document.getElementById('botonAvanzar');
const retroceder = document.getElementById('botonRetroceder');

avanzar.addEventListener('click', function() {
  let nuevaPosicion = posicionRec+1;
  if (nuevaPosicion <= ultIdEnListIdsAutores) {
  let url = "{% url 'autorDetalles' pk=2 %}".replace('2', nuevaPosicion);
  //insertamos la nueva etiqueta URL:
  this.setAttribute('hx-get', url); 
  else {
  alert('Mi pana, este es el último, no hay más autores.');
}
  
});

retroceder.addEventListener('click', function() {
  //Note como guardar valores persistentemente en una sesión como se hacía en la versión anterior:
  //let posicion = sessionStorage.getItem('posicionActual');
  //sessionStorage.setItem('posicionActual', --posicion);
  //alert('posicion: ' + posicion + ' id: ' + listaIdsAutores[posicion]);
  let nuevaPosicion = posicionRec-1;
  if (nuevaPosicion >= 0) {
  let url = "{% url 'navAutorYsusLibJS' %}?posicionEnviada=1".replace('1', nuevaPosicion);
  //Redirige al navegador a esa URL
  window.location.href = url;} 
  else {
  alert('Mi pana, este es el primer autor.');
}
});
</script>

{# {% endblock %} #}
