{% extends "base1.html" %}
{% block content %}
     
      <form id="mi-formulario" action="" method="GET">
       <input type="text" id="libro-pk" placeholder="Ingresa el ID del libro">
       <button type="button" onclick="enviarFormulario()">Ver Libro</button>

<p>====================</p>
<p></p> 

<p>datos: {{ datos }}</p>

<p>autor: <a href="{{ datos.autor }}">autor</a></p>
<p>====================</p>
<p></p>
{% comment %}
<p>Ejemplo de renderizado de formularios con serializadores:</p> 

<form>
{# <form action="{% url 'libro-detail' 1 %}" method="GET"> #}
   {% load rest_framework %}
    {% render_form seriali %} 
    {# {% render_field seriali.id style=seriali.id.style %} #}
{# <button type="submit">Buscar</button> #}
</form>
{% endcomment %}

<script>
function enviarFormulario() {
    // 1. Obtener el valor del input
    const pk = document.getElementById('libro-pk').value;
    const baseUrl = "{% url 'libro-detail' pk=12345 %}";

    if (pk) {

        // 2. Replace the placeholder '12345' with your actual JS variable
        const url = baseUrl.replace('12345', pk);
        
        // 3. Asignar la URL al atributo action del formulario
        const form = document.getElementById('mi-formulario');
        form.action = url;

        // 4. Enviar el formulario
        form.submit();
    } else {
        alert("Por favor, ingresa un ID válido.");
    }
}

</script>
{% endblock %}
