{% extends "base1.html" %}

{% block content %}
    <h1>Lista de libros</h1>
    <p>datos: {{ datos }}</p> 

    {% if datos %}
    
    <input oninput="w3.filterHTML('#id01', 'li', this.value)" class="w3-input w3-light-gray" placeholder="Búsqueda libro por nombre:">
    <ul id="id01" class="w3-ul w3-margin-top w3-border">
    {% for objetoNomArbitr in datos %}
      <li>
        <!-- Recuerde que el objeto retorna la propiedad titulo del modelo Libro con su atributo método __str__(self): return self.titulo -->
        <a href="{{ objetoNomArbitr.url }}">{{ objetoNomArbitr.titulo }}</a> (id libro:{{ objetoNomArbitr.id }}) {% if user.is_authenticated %}<a href="{% url 'libro-detail' objetoNomArbitr.id %}?plantilla=libro_actualizar.html">Actualizar</a> <a href="">-Borrar</a>{% endif %}
<!-- Recuerde que este hipervínculo (href), llama al método get_absolute_url(self) del modelo que se está utilizando, en este caso, Libro, que retorna reverse('detallesDeLibro', args=[str(self.id)])  -->
      </li>
      {% endfor %}
    </ul>
    <br>
    <br>
    </ul>
    <br>
    {% else %}  
      <p>No hay libros en la biblioteca.</p>
    {% endif %}
    <br>
  
{% endblock %}

